* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
}

.header,
.footer {
    border: 1px solid #333;
    background: #aaa;
    text-align: center;
}

.left,
.middle,
.right {
    position: relative;
    float: left;
    min-height: 130px;
}


/*圣杯布局的精髓在于外部这个容器，预先定义好了两侧的内边距，这个其实就是两侧边栏的宽度*/

.container {
    padding: 0 220px 0 200px;
    overflow: hidden;
}


/*左侧相对父元素的宽度，先负左外边距100%，移动到container的最左侧，再用相对定位继续移动*/

.left {
    margin-left: -100%;
    left: -200px;
    width: 200px;
    background: red;
}

.right {
    margin-left: -220px;
    right: -220px;
    width: 220px;
    background: green;
}


/*核心思路，先保证中间部分宽度百分之百*/

.middle {
    width: 100%;
    background: blue;
    word-break: break-all;
}

.footer {
    clear: both;
}